.weather {
  max-width: 650px;
  background-color: #ececec;
  margin: 10px auto;
  border: 1px solid #142d4c;
  border-radius: 10px;
  padding: 10px 30px;
}

a {
  text-decoration: None;
}

button {
  padding: 5px 20px;
  border: None;
  background-color: #9fd3c7;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.convert {
  padding: 2px;
  border: none;
  border-radius: 5px;
}
.convert:hover {
  cursor: pointer;
}
input {
  padding: 10px 30px;
  text-align: center;
  margin-top: 20px;
  margin: 5px;
  border-radius: 10px;
  border-color: #142d4c;
}

.search_button {
  padding: 5px 20px;
  border: None;
  background-color: #9fd3c7;
}

.search {
  text-align: center;
  margin-top: 20px;
}

.today {
  text-align: center;
  padding: 20px;
}

.description {
  text-align: left;
  font-family: "Cutive Mono", monospace;
  font-weight: bolder;
  margin-top: 7px;
}

.weekday {
  font-size: 15px;
  color: #142d4c;
}

.forecast {
  text-align: center;
  font-family: "Cutive Mono", monospace;
  font-weight: bolder;
  font-size: 12px;
}

.fore {
  font-size: 30px;
}

.location {
  display: block;
  margin: 5px auto;
}

#git {
  font-size: 13px;
  background: none;
  display: block;
  margin: 0 auto;
  color: #113f67;
}

.logo {
  background-color: #a2a8d3;
  border: none;
  border-radius: 50%;
}

.min {
  opacity: 70%;
}
